<app-student-count></app-student-count>
<br/><br/>
<table>
    <thead>
        <tr>
            <th>ID</th>&nbsp;
            <th>Name</th>&nbsp;
            <th>Gender</th>&nbsp;
            <th>DOB</th>&nbsp;
            <th>Course Fee</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let student of students'>
            <td>{{student.ID | uppercase}}</td>&nbsp;
            <td>{{student.FirstName}}</td>&nbsp;
            <td>{{student.Gender}}</td> &nbsp;     
            <td>{{student.DOB | date:'dd/MM/y'}}</td>&nbsp;
            <td>{{student.CourseFee | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr *ngIf="!students || students.length==0">
            <td colspan="10">
                No Students to display
            </td>
        </tr>
    </tbody>
</table>
