<h1>TYPES OF BINDING</h1>

<!-- properperty binding -->

<div>
  <H2><span [innerHTML] = 'Title' ></span>  </H2> 
</div><br>
<div>
  <button [disabled] = 'IsDisabledClick' > Cick Here </button>              
</div><br>

<div>
  <img [src] = 'ImagePath' />                
</div><br>

<!-- INTERPOLATION BINDING -->

<H2>INTERPOLATION BINDING</H2>
<div>
{{MaliciousData}} 
</div>   <br><br>

<!-- ATTRIBUTE BINDING -->

<H2>ATTRIBUTE BINDING</H2>
<table>
  <thead>
      <tr>
          <th colspan="2">
              {{pageHeader}}
          </th>
      </tr><br>
  </thead>
  <tbody>
      <tr>
          <td>First Name:</td>
          <td>{{FirstName}}</td>
      </tr>
      <tr>
          <td>Last Name:</td>
          <td>{{LastName}}</td>
      </tr>
      <tr>
          <td>Branch:</td>
          <td>{{Branch}}</td>
      </tr>
      <tr>
          <td>Mobile:</td>
          <td>{{Mobile}}</td>
      </tr>
      <tr>
          <td>Gender:</td>
          <td>{{Gender}}</td>
      </tr>
      <tr>
          <td>Age:</td>
          <td>{{Age}}</td>
      </tr>
  </tbody>
</table><br>

<!-- CLASS BINDING -->

<h2>CLASS BINDING</h2>
<div>
  <button [class] = 'ClassesToApply' >Click Me</button>
  <button class='colorClass' [class] = 'ClassesToApply1'>CLICK ME</button>
</div>
<div>
  <button class='colorClass' [ngClass]='AddCSSClasses()'>Click Me</button>
</div><br>

<!-- STYLE BINDING -->

<h2>STYLE BINDING</h2>
<div>
  <button style='color:red' [ngStyle]="AddCSSStyles()">Click Me </button>
</div><br><br><br>

<!-- Event Binding -->

<button (click)="onClick()">Click me</button><br><br>
<input type="text" (input)="onInputChange($event)" /><br><br>
<button (mouseover)="onMouseOver()">Hover me</button><br><br>
<input type="text" (keydown)="onKeyPress($event)" /><br><br>

 <!-- form content -->

<form (submit)="onFormSubmit($event)">
 
  <button type="submit">Submit</button>
</form>

<router-outlet></router-outlet>
